

<script src="https://unpkg.com/@isomorphic-git/lightning-fs"></script>
<script src="https://unpkg.com/isomorphic-git@beta"></script>
<script type="module">
import http from 'https://unpkg.com/isomorphic-git@beta/http/web/index.js'
// Initialize isomorphic-git with a file system
window.fs = new LightningFS('fs')
// I prefer using the Promisified version honestly
window.pfs = window.fs.promises


const clean_directory = async () => {
    window.fs = new LightningFS('fs', { wipe: true })
    window.pfs = window.fs.promises
    console.log('cleaned_directory')
}
window.clean_directory = clean_directory

// local directory
const init = async () => {
    window.dir = '/ou-rencontrer-le-stuck'
    console.log(dir);
    await pfs.mkdir(dir);

    console.log("created_directory")
}
window.init = init


var clone =  async () => {
    //clone
    var dir = window.dir
    await git.clone({
        fs,
        http,
        dir,
        corsProxy: 'https://cors.isomorphic-git.org',
        url: 'https://github.com/jibe-b/ou-rencontrer-le-stuck/',
        ref: 'main',
        singleBranch: true,
        depth: 1

    });

    console.log(await pfs.readdir(dir))


}
window.clone = clone


const update_data = async () => {
    var dir = window.dir 

    let data_update = document.getElementById("data_update").value

    await pfs.writeFile(`${dir}/test.json`, '{"name": "' + data_update + '"}', 'utf8')
    await git.add({fs, dir, filepath: 'test.json'})

    console.log("updated data")
}
window.update_data = update_data

const commit = async () => {
    var dir = window.dir 
    let sha = await git.commit({
        fs,
        dir,
        message: 'Update data from js-git',
        author: {
            name: 'panorama-economie-locale-67',
            email: 'contact@lestuck.eu'
        }
    })
    console.log(sha)

}
window.commit = commit

var push = async () => {
    var dir = window.dir 
    let pushResult = await git.push({
        fs,
        http,
        dir,
        remote: 'origin',
        ref: 'main',
        onAuth: () => ({ username: "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" }), // "glpat-jmpxDGoVnmpxdxF2ju3x" }),
    })
}
window.push = push


</script>

<button onclick="clean_directory()">Clean directory</button>

<button onclick="init()">Init</button>

<button onclick="clone()">Clone</button>

<button onclick="update_data()">Update data</button>

<button onclick="commit()">Commit</button>

<button onclick="push()">Push</button>

<h3>Data</h3>

<input id="data_update" />

<h3>Doc</h3>

<ul>
    <li>
        Répo github https://github.com/jibe-b/ou-rencontrer-le-stuck
    </li>
    <li>
        Futur répo gitlab  https://gitlab.com/jibe-b/ou-rencontrer-le-stuck
    </li>
    <li>
        Compte robot "panorama-economie-locale-67" (unique répo)
    </li>
    <li>

    </li>

</ul>